# Dependencies
node_modules/
bun.lockb

# Build Artifacts
dist/
out/
bin/
obj/
*.exe
*.dll
*.so
*.dylib

# Specific Binaries
privibase

# Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDEs and Tools
.vscode/
.idea/
.DS_Store
*.swp
*.swo

# Foundry/Solidity
cache/
broadcast/